.header {
    background: $dark-blue;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $s-size 0;
}